@font-face {
  font-family: "Poppins-black";
  src: url("../assets/Fonts/Poppins-Light.ttf") format("truetype");
}

body {
  background: #f2f2f2;
  font-family: "Poppins-black";
}

.search {
  padding-top: 40px;
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  font-size: 14px;
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 21px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .flare-heading {
    font-size: 18px;
  }

  .flare-subheading {
    font-size: 14px;
    margin-top: 0;
  }

  .wrap {
    width: 65%;
    top: 85%;
  }

  .searchTerm {
    font-size: 12px;
  }

  .search {
    padding-top: 0;
  }
}
